{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Competition: {{ form.competition }}<h2>
  </div>
    <div class="row">
    <div class="col-xs-4">
  <h3>Add team:</h3>
    <form class="form-horizontal" action="{{ url_for('manage_competition', id=id) }}" method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
    {{ form.team.label(class_="control-label col-xs-6") }}
      <div class="col-xs-6">
        {{ form.team(class_="form-control") }}<br>
        {{ form.submit(class_="form-control")}}
      </div>
    </div>
    </form>
    </div>
    <div class="col-xs-8">
  <h3>Current teams:</h3>
    <ul class="list">
        {% for team in team_data %}
            <li>{{ team.Name }} ({{  team.Number }})</li>
        {%  endfor %}
    </ul>
    </div>
    </div>
{% endblock %}