{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


  <h3>Match Reporting Form</h3>

  <form class="form-horizontal" action="{{ url_for('match_reporting') }}" method="post">
    {{ form.hidden_tag() }}
  <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Match Reporting Information</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.competition.label }} {{ form.competition }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Autonomous</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.move }} {{ form.move.label }}
                    </div>
                    <div class="form-group">
                        {{ form.climbers }} {{ form.climbers.label }}
                    </div>
                    <div class="form-group">
                        {{ form.beacon }} {{ form.beacon.label }}
                    </div>
                    <div class="form-group">
                        {{ form.park }} {{ form.park.label }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Teleop</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.score }} {{ form.score.label }}
                    </div>
                    <div class="form-group">
                        {{ form.cycles }} {{ form.cycles.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scorelow }} {{ form.scorelow.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scoremid }} {{ form.scoremid.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scorehigh }} {{ form.scorehigh.label }}
                    </div>
                    <div class="form-group">
                        {{ form.lowclimber }} {{ form.lowclimber.label }}
                    </div>
                    <div class="form-group">
                        {{ form.midclimber }} {{ form.midclimber.label }}
                    </div>
                    <div class="form-group">
                        {{ form.highclimber }} {{ form.highclimber.label }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">End Game & Results</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.hang }} {{ form.hang.label }}
                    </div>
                    <div class="form-group">
                        {{ form.trigger }} {{ form.trigger.label }}
                    </div>
                    <div class="form-group">
                        {{ form.win}} {{ form.win.label }}
                    </div>
                </div>
            </div>
        </div>
      </div>

  <div class="form-group">
      <div class="col-xs-12">{{ form.submit(class_='form-control') }}</div>
  </div>
  </form>
{% endblock %}
<p>&nbps;</p>