{% extends "layout.html" %}
{% block content %}
    <h3>Match Report Details</h3>
    <table class="table table-responsive table-bordered">
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tr>
            <td>Match Number</td>
            <td>{{ data.MatchNumber }}</td>
        </tr>
        <tr>
            <td>Did the robot move?</td>
            <td>{{ data.DidRobotMove  }}</td>
        </tr>
        <tr>
            <td>Deliver Climbers?</td>
            <td>{{ data.a_DeliverClimbers }}</td>
        </tr>
        <tr>
            <td>Did the robot move?</td>
            <td>{{ data.DidRobotMove  }}</td>
        </tr>
        <tr>
            <td>Push Beacon?</td>
            <td>{{ data.PushBeacon }}</td>
        </tr>
        <tr>
            <td>Highest Parking Level?</td>
            <td>{{ data.a_ParkingLevel }}</td>
        </tr>
        <tr>
            <td>Deliver Climbers?</td>
            <td>{{ data.t_DeliverClimbers }}</td>
        </tr>
        <tr>
            <td>Deliver Climbers?</td>
            <td>{{ data.t_DeliverClimbers }}</td>
        </tr>
        <tr>
            <td>Did the robot score?</td>
            <td>{{ data.DidRobotScoreCycles }}</td>
        </tr>
        <tr>
            <td>How many scoring cycles?</td>
            <td>{{ data.HowManyCycles }}</td>
        </tr>
        <tr>
            <td>Score in low zone?</td>
            <td>{{ data.ScoreLowZone }}</td>
        </tr>
        <tr>
            <td>Score in mid zone?</td>
            <td>{{ data.ScoreMidZone }}</td>
        </tr>
        <tr>
            <td>Score in high zone?</td>
            <td>{{ data.ScoreHighZone }}</td>
        </tr>
        <tr>
            <td>Release low climber?</td>
            <td>{{ data.ReleaseLowClimber }}</td>
        </tr>
        <tr>
            <td>Release mid climber?</td>
            <td>{{ data.ReleaseMidClimber }}</td>
        </tr>
        <tr>
            <td>Release high climber?</td>
            <td>{{ data.ReleaseHighClimber }}</td>
        </tr>
        <tr>
            <td>Highest Parking Level?</td>
            <td>{{ data.t_ParkingLevel }}</td>
        </tr>
        <tr>
            <td>Did the robot hang?</td>
            <td>{{ data.DidRobotHang }}</td>
        </tr>
        <tr>
            <td>Did the robot trigger the all clear?</td>
            <td>{{ data.DidRobotTriggerAllClear }}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>{{ data.Comments }}</td>
        </tr>
    </table>
{% endblock %}