{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


  <h3>Match Reporting Form</h3>
    {% for team in teams %}
        {{ team }}
    {% endfor %}
  <form class="form-horizontal" action="{{ url_for('match_reporting') }}" method="post">
    {{ form.hidden_tag() }}
    {%  for field in form if field.widget.input_type != 'hidden' %}
        {% if field.name == 'submit' %}
          <div class="form-group">
            <div class="col-xs-12">{{ field(class_='form-control') }}</div></div>
        {% else %}
            <div class="form-group">
                {{ field.label(class_="control-label col-xs-8") }}
                <div class="col-xs-4">
                    {{ field(class_="form-control") }}
                </div>
            </div>
        {% endif %}
    {%  endfor %}
  </form>
{% endblock %}
<p>&nbps;</p>