{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


  <h3>Match Scouting Form</h3>
  <form class="form-horizontal" action="{{ url_for('match_scouting') }}" method="post">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Scouting Information</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.competition.label }} {{ form.competition }}
                    </div>
                    <div class="form-group">
                        {{ form.team.label }} {{ form.team }}
                    </div>
                    <div class="form-group">
                        {{ form.scout.label }} {{ form.scout }}
                    </div>
                    <div class="form-group">
                        {{ form.match.label }} {{ form.match }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Autonomous</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.move }} {{ form.move.label }}
                    </div>
                    <div class="form-group">
                        {{ form.a_climbers }} {{ form.a_climbers.label }}
                    </div>
                    <div class="form-group">
                        {{ form.beacon }} {{ form.beacon.label }}
                    </div>
                    <div class="form-group">
                        {{ form.a_park }} {{ form.a_park.label }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Teleop</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.t_climbers }} {{ form.t_climbers.label }}
                    </div>
                    <div class="form-group">
                        {{ form.score }} {{ form.score.label }}
                    </div>
                    <div class="form-group">
                        {{ form.cycles }} {{ form.cycles.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scorelow }} {{ form.scorelow.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scoremid }} {{ form.scoremid.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scorehigh }} {{ form.scorehigh.label }}
                    </div>
                    <div class="form-group">
                        {{ form.lowclimber }} {{ form.lowclimber.label }}
                    </div>
                    <div class="form-group">
                        {{ form.midclimber }} {{ form.midclimber.label }}
                    </div>
                    <div class="form-group">
                        {{ form.highclimber }} {{ form.highclimber.label }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">End Game</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.t_park }} {{ form.t_park.label }}
                    </div>
                    <div class="form-group">
                        {{ form.hang }} {{ form.hang.label }}
                    </div>
                    <div class="form-group">
                        {{ form.allclear }} {{ form.allclear.label }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Comments</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.comments }}
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">{{ form.submit(class_='form-control') }}</div>
      </div>
  </form>
{% endblock %}