{% extends "layout.html" %}
{% block content %}
    <h3>Report Details</h3>
    <table class="table table-responsive table-bordered">
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tr>
            <td>Team</td>
            <td>tbd</td>
        </tr>
        <tr>
            <td>Autonomous?</td>
            <td>{{ data.CanDoAutonomous  }}</td>
        </tr>
        <tr>
            <td>Defensive Autonomous?</td>
            <td>{{ data.DefensiveAutonomous }}</td>
        </tr>
        <tr>
            <td>Can it deliver climbers? (a)</td>
            <td>{{ data.a_CanDeliverClimbers }}</td>
        </tr>
        <tr>
            <td>Climber delivery accuracy (a)</td>
            <td>{{ data.a_CanDeliverClimbers_accuracy }}</td>
        </tr>
            <tr>
            <td>Can it push the beacon? (a)</td>
            <td>{{ data.CanPushBeacon }}</td>
        </tr>
        <tr>
            <td>Can it park on the floor? (a)</td>
            <td>{{ data.a_CanParkFloor }}</td>
        </tr>
        <tr>
            <td>Can it park on the low zone? (a)</td>
            <td>{{ data.a_CanParkLow }}</td>
        </tr>
        <tr>
            <td>Can it park on the mid zone? (a)</td>
            <td>{{ data.a_CanParkMid }}</td>
        </tr>
        <tr>
            <td>Mid zone parking accuracy (a)</td>
            <td>{{ data.a_CanParkMid_accuracy }}</td>
        </tr>
        <tr>
            <td>Can it park on the high zone? (a)</td>
            <td>{{ data.a_CanParkHigh }}</td>
        </tr>
        <tr>
            <td>High zone parking accuracy (a)</td>
            <td>{{ data.a_CanParkHigh_accuracy }}</td>
        </tr>
        <tr>
            <td>Debris Scoring Cycles? (t)</td>
            <td>{{ data.DebrisScoringCycles }}</td>
        </tr>
        <tr>
            <td>Can it score in the low zone? (t)</td>
            <td>{{ data.CanScoreLow }}</td>
        </tr>
        <tr>
            <td>Can it score in the mid zone? (t)</td>
            <td>{{ data.CanScoreMid }}</td>
        </tr>
        <tr>
            <td>Can it score in the high zone? (t)</td>
            <td>{{ data.CanScoreHigh }}</td>
        </tr>
        <tr>
            <td>Can it release the low climber? (t)</td>
            <td>{{ data.CanReleaseLowClimber }}</td>
        </tr>
        <tr>
            <td>Low climber release accuracy (t)</td>
            <td>{{ data.CanReleaseLowClimber_accuracy }}</td>
        </tr>
        <tr>
            <td>Can it release the mid climber? (t)</td>
            <td>{{ data.CanReleaseMidClimber }}</td>
        </tr>
        <tr>
            <td>Mid climber release accuracy (t)</td>
            <td>{{ data.CanReleaseMidClimber_accuracy }}</td>
        </tr>
        <tr>
            <td>Can it release the high climber? (t)</td>
            <td>{{ data.CanReleaseHighClimber }}</td>
        </tr>
        <tr>
            <td>High climber release accuracy (t)</td>
            <td>{{ data.CanReleaseHighClimber_accuracy }}</td>
        </tr>
        <tr>
            <td>Can it park on the low zone? (t)</td>
            <td>{{ data.t_CanParkLow }}</td>
        </tr>
        <tr>
            <td>Can it park on the mid zone? (t)</td>
            <td>{{ data.t_CanParkMid }}</td>
        </tr>
        <tr>
            <td>Mid zone parking accuracy (t)</td>
            <td>{{ data.t_CanParkMid_accuracy }}</td>
        </tr>
        <tr>
            <td>Can it park on the high zone? (t)</td>
            <td>{{ data.t_CanParkHigh }}</td>
        </tr>
        <tr>
            <td>High zone parking accuracy (t)</td>
            <td>{{ data.t_CanParkHigh_accuracy }}</td>
        </tr>
        <tr>
            <td>Can it hang?</td>
            <td>{{ data.CanHang }}</td>
        </tr>
        <tr>
            <td>Can it trigger the all clear?</td>
            <td>{{ data.CanTriggerAllClear }}</td>
        </tr>
        <tr>
            <td>Comments?</td>
            <td>{{ data.Comments }}</td>
        </tr>
        <tr>
            <td>Add to Watch List?</td>
            <td>{{ data.AddToWatchList }}</td>
        </tr>
    </table>
{% endblock %}