{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


  <h3>Pit Scouting Form</h3>
  <form class="form-horizontal" action="{{ url_for('pit_scouting') }}" method="post">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Scouting Information</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.competition }} {{ form.competition.label }}
                    </div>
                    <div class="form-group">
                        {{ form.team }} {{ form.team.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scout }} {{ form.scout.label }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Autonomous</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.auto_offense }} {{ form.auto_offense.label }}
                    </div>
                    <div class="form-group">
                        {{ form.auto_defense }} {{ form.auto_defense.label }}
                    </div>
                    <div class="form-group">
                        {{ form.a_climbers }} {{ form.a_climbers.label }}
                    </div>
                    <div class="form-group" id="a_climbers_acc">
                        {{ form.a_climbers_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.beacon }} {{ form.beacon.label }}
                    </div>
                    <div class="form-group">
                        {{ form.a_floorpark }} {{ form.a_floorpark.label }}
                    </div>
                    <div class="form-group">
                        {{ form.a_lowpark }} {{ form.a_lowpark.label }}
                    </div>
                    <div class="form-group">
                        {{ form.a_midpark }} {{ form.a_midpark.label }}
                    </div>
                    <div class="form-group" id="a_midpark_acc">
                        {{ form.a_midpark_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.a_highpark }} {{ form.a_highpark.label }}
                    </div>
                    <div class="form-group" id="a_highpark_acc">
                        {{ form.a_highpark_acc }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Teleop</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.cycles }} {{ form.cycles.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scorelow }} {{ form.scorelow.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scoremid }} {{ form.scoremid.label }}
                    </div>
                    <div class="form-group">
                        {{ form.scorehigh }} {{ form.scorehigh.label }}
                    </div>
                    <div class="form-group">
                        {{ form.t_climbers }} {{ form.t_climbers.label }}
                    </div>
                    <div class="form-group" id="t_climbers_acc">
                        {{ form.t_climbers_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.lowclimber }} {{ form.lowclimber.label }}
                    </div>
                    <div class="form-group" id="lowclimber_acc">
                        {{ form.lowclimber_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.midclimber }} {{ form.midclimber.label }}
                    </div>
                    <div class="form-group" id="midclimber_acc">
                        {{ form.midclimber_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.highclimber }} {{ form.highclimber.label }}
                    </div>
                    <div class="form-group" id="highclimber_acc">
                        {{ form.highclimber_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.t_floorpark }} {{ form.t_floorpark.label }}
                    </div>
                    <div class="form-group">
                        {{ form.t_lowpark }} {{ form.t_lowpark.label }}
                    </div>
                    <div class="form-group">
                        {{ form.t_midpark }} {{ form.t_midpark.label }}
                    </div>
                    <div class="form-group" id="t_midpark_acc">
                        {{ form.t_midpark_acc }}
                    </div>
                    <div class="form-group">
                        {{ form.t_highpark }} {{ form.t_highpark.label }}
                    </div>
                    <div class="form-group" id="t_highpark_acc">
                        {{ form.t_highpark_acc }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">End Game</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.hang }} {{ form.hang.label }}
                    </div>
                    <div class="form-group">
                        {{ form.allclear }} {{ form.allclear.label }}
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">General Information</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.comments }}
                    </div>
                    <div class="form-group">
                        {{ form.watchlist }} {{ form.watchlist.label }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">{{ form.submit(class="form-control") }}</div>
    </div>
  </form>
{% endblock %}