{% extends "layout.html" %}
{% block content %}
    <h3>Report Details</h3>
    <table class="table table-responsive table-bordered">
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tr>
            <td>Team</td>
            <td>tbd</td>
        </tr>
        <tr>
            <td>Can it do autonomous?</td>
            <td>{{ data.IsAutonomous  }}</td>
        </tr>
        <tr>
            <td>Can it push the beacon?</td>
            <td>{{ data.CanPushBeacon }}</td>
        </tr>
        <tr>
            <td>Can it deliver climbers?</td>
            <td>{{ data.CanDeliverClimbers }}</td>
        </tr>
        <tr>
            <td>Can it release the low climber?</td>
            <td>{{ data.DeliverClimberLow }}</td>
        </tr>
            <tr>
            <td>Can it release the middle climber?</td>
            <td>{{ data.DeliverClimberMid }}</td>
        </tr>
        <tr>
            <td>Can it release the high climber?</td>
            <td>{{ data.DeliverClimberHigh }}</td>
        </tr>
        <tr>
            <td>Can it park on the floor?</td>
            <td>{{ data.CanParkOnFloor }}</td>
        </tr>
        <tr>
            <td>Can it park on the low zone?</td>
            <td>{{ data.CanParkOnLowZone }}</td>
        </tr>
            <tr>
            <td>Can it park on the middle zone?</td>
            <td>{{ data.CanParkOnMidZone }}</td>
        </tr>
        <tr>
            <td>Can it park on the high zone?</td>
            <td>{{ data.CanParkOnHighZone }}</td>
        </tr>
        <tr>
            <td>What is the highest zone climbed?</td>
            <td>{{ data.HighestZoneClimbed }}</td>
        </tr>
        <tr>
            <td>Can it score debris?</td>
            <td>{{ data.CanScoreDebris }}</td>
        </tr>
        <tr>
            <td>Can it score in the low zone?</td>
            <td>{{ data.CanScoreInLowZone }}</td>
        </tr>
            <tr>
            <td>Can it score in the middle zone?</td>
            <td>{{ data.CanScoreInMidZone }}</td>
        </tr>
        <tr>
            <td>Can it score in the high zone?</td>
            <td>{{ data.CanScoreInHighZone }}</td>
        </tr>
        <tr>
            <td>What is the average debris score?</td>
            <td>{{ data.DebrisAverageScore }}</td>
        </tr>
        <tr>
            <td>How is debris handled?</td>
            <td>{{ data.DebrisScoringMethod }}</td>
        </tr>
        <tr>
            <td>Can it hang?</td>
            <td>{{ data.CanHang }}</td>
        </tr>
        <tr>
            <td>Can it trigger the all clear?</td>
            <td>{{ data.CanTriggerAllClearSignal }}</td>
        </tr>
        <tr>
            <td>Points of Failure?</td>
            <td>{{ data.PossiblePointsOfFailure }}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>{{ data.GeneralComments }}</td>
        </tr>
        <tr>
            <td>On the watch list?</td>
            <td>{{ data.WatchList }}</td>
        </tr>
    </table>
{% endblock %}