{% extends "layout.html" %}
{% block content %}

  <h3>Add a Scout</h3>
  <form action="{{ url_for('scouts') }}" method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.submit }}
  </form>

  <h3>Existing Scouts:</h3>
  <table>
    <thread>
        <tr>
            <th width="300px"><strong>Scout Name</strong></th>
            <th><b>Actions</b></th>
        </tr>
    </thread>
    {% for scout in scouts %}
    <tr>
        <td width="300px">{{  scout.Name }}</td>
        <td>
            <a href="{{  url_for('delete_scout_entry', id = scout.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}