{% extends "layout.html" %}

{% block content %}

{% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


  <h2>Scouting Form</h2>
  <form class="form-horizontal" action="{{ url_for('scouting') }}" method="post">
    {{ form.hidden_tag() }}
    {%  for field in form if field.widget.input_type != 'hidden' %}

        {%  if (field.name == 'spof' or field.name == 'comments') %}
            <div class="form-group">
            <div class="col-xs-12">{{ field(class_='form-control') }}</div></div>
        {% elif field.name == 'submit' %}
            <div class="form-group">
            <div class="col-xs-12">{{ field(class_='form-control') }}</div></div>
        {%  else %}
            <div class="form-group">
                {{ field.label(class_="control-label col-xs-6") }}
                <div class="col-xs-6">
                    {{ field(class_="form-control") }}
                </div>
            </div>
        {% endif %}
    {%  endfor %}
  </form>
{% endblock %}