{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Teams<h2>
  </div>
  <h3>Add a Team</h3>
  <form action="{{ url_for('teams') }}" method="post">
    {{ form.hidden_tag() }}

    {{ form.number.label }}
    {{ form.number }}<br>

    {{ form.name.label }}
    {{ form.name }}<br>

    {{ form.website.label }}
    {{ form.website }}<br>

    {{ form.submit }}
  </form>

  <h3>Existing Teams:</h3>
  <table>
    <thread>
        <tr>
            <th width="300px"><strong>Team Number</strong></th>
            <th width="300px"><strong>Team Name</strong></th>
            <th width="300px"><strong>Team Website</strong></th>
            <th><b>Actions</b></th>
        </tr>
    </thread>
    {% for team in teams %}
    <tr>
        <td width="300px"><a href="{{ url_for('team', id = team.id) }}">{{  team.Number }}</a></td>
        <td width="300px">{{  team.Name }}</td>
        <td width="300px">{{  team.Website }}</td>
        <td>
            <a href="{{  url_for('delete_team_entry', id = team.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}