body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}



/*
 * Center the body content
 */

.container {
  width: 350px;
  margin: 0 auto;
}
textarea#comments.form-control {
  height: 175px;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}